html {
  background-color: #fdfdfd;
}
.app {
  margin: 0;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  line-height: 2em;
}
@media (max-width: 500px) {
  .app {
    font-size: 0.75em;
  }
}
.line {
  display: block;
  width: 30px;
  height: 1px;
  line-height: 0;
  font-size: 0;
  border-bottom: 1px solid #000;
  margin: 0 auto;
}
/*-------------------header-------------------*/
#main {
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  margin: 1em 10em;
}
@media (max-width: 1500px) {
  #main {
    margin: 1em 2.25em;
  }
}
.header-title {
  text-decoration: none;
  font-size: 1em;
  color: inherit;
  text-transform: uppercase;
  margin: 0.5em 0;
}
@media (max-width: 500px) {
  .header {
    width: 100%;
    margin: 1.25em 0;
  }
  .header-title {
    margin: 0.5em;
    font-size: 1em;
  }
  .main-nav {
    width: 0;
    visibility: hidden;
  }
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-link {
  --spacing: 1em;
  text-decoration: none;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  letter-spacing: 1px;
  font-size: 1em;
  color: inherit;
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 1px;
  background: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav-link:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*-------------------home-------------------*/
.home {
  margin: 6em auto;
  width: 700px;
  text-align: center;
}
.home-content {
  width: 460px;
  margin: 5em 2em 3em 2em;
  text-align: left;
  font-size: 1.05em;
}
.each-project {
  margin: 0 2em 4.15em 2em;
}
.link-project{
  text-decoration: none;
  color:inherit;
}
.each-project-img {
  width: 650px;
  object-fit: cover;
}
.each-project-name {
  margin: 0;
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
}

.each-project-tech {
  margin: 0;
  text-align: left;
}
.home-footer {
  margin: 0 2em;
}
@media (max-width: 1000px) {
  .home {
    margin: 7em auto;
    width: 500px;
  }
  .each-project-img {
    width: 400px;
    object-fit: cover;
  }
  .home-content {
    width: 350px;
    margin: 1.25em 1.5em;
  }
}
@media (max-width: 500px) {
  .home {
    margin: 7em auto;
    width: 300px;
  }
  .each-project {
    margin: 0 0 4.15em 0;
    font-size: 0.75em;
  }
  .each-project-img {
    object-fit: cover;
    width: 300px;
  }

  .home-content {
    width: 300px;
    margin: 1.25em 0;
  }
  .home-footer {
    margin: 0;
  }
}

/*-------------------footer-------------------*/
.footer {
  font-size: 0.9em;
}
.footer-link {
  color: inherit;
  text-decoration: none;
}
.footer-link span{
text-decoration: underline;
text-underline-position: under;
}
/*-------------------about-------------------*/
.about {
  margin: 6em auto;
  width: 700px;
  font-size: 1em;
}
.about-header {
  font-size: 1.05em;
  width: 550px;
  text-align: left;
  margin: 2em;
}
@media (max-width: 1000px) {
  .about {
    width: 500px;
  }
  .about-header {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .about {
    margin: 7em auto;
    width: 300px;
  }
  .about-header {
    width: 300px;
    font-size: 1em;
    text-align: left;
    margin: 1em 0.25em;
  }
}
.about-title {
  text-transform: uppercase;
}
.about-list {
  list-style-type: none;
  padding: 0;
  line-height: 1.75em;
}
.contact-me {
  margin-top: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
}
.contact-me-list {
  list-style-type: none;
  padding: 0;
}
.contact-me-link {
  text-decoration: none;
  color: inherit;
}
.contact-me-link:hover {
  background-color: #e8fff1;
}
.about-grid {
  padding: 1em 2.5em;
}
.about-footer {
  padding: 1em 2.5em;
}
@media (max-width: 500px) {
  .about-grid {
    font-size: 0.9em;
    padding: 1em 0.25em;
  }
  .about-footer {
    font-size: 0.9em;
    padding: 1em 0.25em;
  }
}
/*-------------------project-------------------*/
.project {
  font-size: 1em;
  margin: 6em auto;
  text-align: center;
}
.project-content {
  width: 700px;
  margin: 1em auto;
  text-align: left;
}
.project-title {
  font-weight: bold;
}
.project-url {
  color: inherit;
}
.web-container {
  flex-wrap: wrap;
  margin: 3em auto;
  text-align: center;
}
.mobile-container {
  flex-wrap: wrap;
  margin: 3em auto;
  text-align: center;
}
.web-img {
  margin: 1em;
  width: 700px;
}
.mobile-img {
  width: 350px;
  margin: 1em;
}
@media (max-width: 500px) {
  .mobile-img {
    width: 300px;
  }
  .web-img {
    width: 300px;
  }
}
.back-link {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 500px) {
  .project-content {
    width: 80%;
    font-size: 0.9em;
    margin: 0 2.75em;
  }
}
@media (max-width: 500px) {
  .project-footer {
    font-size: 0.9em;
  }
}

/*-------------------search-------------------*/
@media (min-width: 1100px) {
  .search {
    margin: 4.5em 0;
  }
}
.search-msg {
  padding-bottom: 2em;
}
.search-back {
  font-size: 0.75em;
  text-decoration: none;
  color: inherit;
}

#open-search {
  height: 100%;
  width: 0;
  position: fixed;
  overflow-x: hidden;
  transition: 0.3s;
  z-index: -10;
  top: 0;
  right: 0;
  margin-top: 4.25em;
  background-color: transparent;
}
@media (min-width: 1500px) {
  #open-search {
    margin: 0 7.75em;
  }
}
@media (min-width: 1100px) {
  #open-search {
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  #open-search {
    display: none;
  }
}
#mobile-search {
  display: none;
}
/*-------------------mobile-menu-------------------*/
.mobile-menu {
  text-align: center;
  line-height: 4em;
  padding-top: 4.75em;
}
#mobilenav {
  height: 100%;
  width: 0;
  position: fixed;
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 999;
  text-align: center;
  top: 0;
  right: 0;
  background-color: #fdfdfd;
}
#mobilenav a {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: 0.3s;
}
.closebtn {
  text-align: right;
  margin: 1.25em 2.5em;
}
.openbtn {
  display: none;
  overflow-x: hidden;
}
@media (max-width: 500px) {
  .openbtn {
    display: block;
    cursor: pointer;
    width: 1em;
    margin: 0.25em;
  }
}

/*-------------------suggestions-------------------*/
.search-form {
  width: 125px;
}
.suggestions-lists {
  list-style-type: none;
  font-size: 0.75em;
  text-align: left;
  padding-left: 1.75em;
  margin:0em;
  background-color: #fdfdfd;
}
.search-input {
  width: 135px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  background-color: #e8fff1;
  outline: none;
}
.link-list {
  color: inherit;
  text-decoration: none;
}
.link-list :hover {
  font-weight: bold;
}
.searched-project {
  text-align: center;
  width: 100%;
}
.filtered-header {
  margin: 7em 0 2.5em 0;
}
.filtered-list {
  list-style: none;
  padding: 0;
  margin: 2em;
  line-height: 3em;
}
.filtered-link {
  color: inherit;
  text-decoration: none;
}
