html {
  background-color: #fdfdfd;
}
.app {
  margin: 0;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  line-height: 2em;
}
.line {
  display: block;
  width: 30px;
  height: 1px;
  line-height: 0;
  font-size: 0;
  border-bottom: 1px solid #000;
  margin: 0 auto;
}
/*-------------------header-------------------*/
.header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  margin: 1em 20em;
}
@media (max-width: 1100px) {
  .header {
    margin: 2em;
  }
}

.header-title {
  text-decoration: none;
  font-size: 1.25em;
  color: inherit;
  text-transform: uppercase;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-link {
  --spacing: 1em;
  text-decoration: none;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  letter-spacing: 1px;
  font-size: 1.15em;
  color: inherit;
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 1px;
  background: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav-link:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*-------------------home-------------------*/
.home {
  margin: 0 auto;
  width: 1000px;
}
.home-content {
  font-size: 1.25em;
  width: 460px;
  margin: 5em 0 3em 0;
  text-align: left;
}
.home-projects {
  float: left;
}
.each-project {
  margin: 0 0 4.15em 0;
}
.each-project-img {
  width: 700px;
  object-fit: cover;
}
.each-project-name {
  margin: 0;
  text-align: left;
  font-size: 1.15em;
  color: black;
  /* text-decoration: none; */
}
.each-project-tech {
  font-size: 1em;
  margin: 0;
  text-align: left;
}

/*-------------------footer-------------------*/
.footer {
  font-size: 0.9em;
}
.footer-link {
  color: inherit;
}
/*-------------------about-------------------*/
.about {
  margin: 6em auto;
  width: 1000px;
  font-size: 1em;
}
.about-header {
  font-size: 1.25em;
  width: 550px;
  text-align: left;
  margin: 2em;
}
.skill {
  text-transform: uppercase;
}
.skill-list {
  list-style-type: none;
  padding: 0;
}
.education {
  text-transform: uppercase;
}
.education-list {
  list-style-type: none;
  padding: 0;
}
.grid-skill {
  padding: 2.5em;
}
.grid-education {
  padding: 2.5em;
}

/*-------------------project-------------------*/
.project{
  margin: 6em auto;
  width: 1500px;
  font-size: 1em;
}
.project-title{
  font-weight: bold;
}
.project-url{
  color:inherit;
}
.web-container {
  flex-wrap: wrap;
  margin:3em auto;
  text-align: center;
}
.mobile-container {
  flex-wrap: wrap;
  margin:3em auto;
  text-align: center;
}
.web-img {
  margin: 1em;
}
.mobile-img {
  margin: 1em;
}
